<h2>Frequently Asked Questions</h2>

<h3>How to cite</h3>



<h3>How to use this in an article</h3>

<p>
    <b>Data FAIRification</b>
</p>

<p>
    FAIR ENA data submission files were generated using the FAIR Data Station (CITE https://doi.org/10.1101/2022.08.03.502622) with the \<PACKE NAME HERE\> package information model from ENA (Retrieved 22-08-2022). ENA Project accession number: PRJEBXXXXX.
</p>
